:root{
  --font-family : Helvetica;
  --title-font-family : Helvetica;
  --primary-color: rgb(59 129 184);
  --secondary-color: rgba(133, 135, 136, 1);
  --line-color: rgba(245,245,245,1);
  --shadow-color: rgba(0, 0, 0, 0.2);
}

.box-title{
  font-family: var(--font-family), sans-serif;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 3px 7px var(--shadow-color);
  border-radius: 3px;
  padding: 12px 9px;
}
